@media screen and (max-width:500px){

#content_acceuil{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: center;
}
.image{
    
    text-align: center;
}

#btn-lire{
    margin-bottom: 8px;
    margin-left: 8rem;
}
}

@media screen and (min-width:500px) and (max-width:770px){

#content_acceuil{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: center;
    /* background: red; */
}
.image{
    /* width: 600px; */
    text-align: center;
}

#btn-lire{
    margin-bottom: 8px;
    margin-left: 11rem;
}

#title{
    text-align: center;
}
}